<div>
    <h2>
        <span>Songs</span>
        <button class="btn btn-primary float-right jh-create-entity create-song" [routerLink]="['/', { outlets: { popup: ['song-new'] } }]">
            <span class="fa fa-plus"></span>
            <span>
                Create new Song
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="songs">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <span>Deezer</span>
                    </th>
                    <th>
                        <span>Date</span>
                    </th>
                    <th>
                        <span>Adding User</span>
                    </th>
                    <th>
                        <span>Comments</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of songs ;trackBy: trackId">
                    <td>
                        <iframe [src]="song.sanitizedUrl" scrolling="no" frameborder="0" allowTransparency="true" width="80" height="80"></iframe>
                    </td>
                    <td>{{song.date | date:'dd/mm/yyyy'}}</td>
                    <td>
                        {{song.addingUser?.login}}
                    </td>
                    <td>
                        <jhi-song-comments [song]="song"></jhi-song-comments>
                    </td>
                    <!-- <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                         <button type="submit" [routerLink]="['../song', song.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'song/'+ song.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'song/'+ song.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>